@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

:root {
  --main-bg-color: #182231;
  --main-text-color: #009d63;
  --second-text-color: #fff;
  --second-bg-color: #c1efde;
}

body{
    font-family: 'Poppins', sans-serif !important;
}

.navbar{
    background-color: #182231;
    padding: 15px;
}

.navbar-brand{
    font-weight: bold;
    color: #fff !important;
}


.navbar-nav .nav-link{
    color: #fff !important;
    margin-right: 50px;
    margin-top: -10px;
}

.navbar-nav .nav-link:hover{
    color: #24CAE5 !important;
}

button .navbar-toggler-icon{
    color: #fff !important;
}

.navbar-collapse{
    margin-top: 20px;
}


.title-section{
  text-align: center;
    font-weight: bold;
    padding-top: 50px;
    font-size: 28px;
}

.btn-custom{
    background-color: #24CAE5 !important;
    font-weight: bold !important;
    color: #fff !important;
}

.col-img img{
    width: 80%;
    padding-left: 150px;
}

.col-text{
    padding-top: 50px;
}
.btn-custom:hover{
    color: #fff;
}

.section-login{
  margin-top: 150px;
  margin-bottom: 150px;
}

.dashboard{
  min-height: 80vh;
}

.card-body{
    padding: 20px;
}

.card-image-artikel{
  height: 180px;
}

.card-title{
    text-align: center;
    margin-bottom: 20px;
}

.card{
    border-radius: 10px !important;
}

.card-text{
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

.artikel-content{
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4;
           line-clamp: 4;
   -webkit-box-orient: vertical;
}


.card-img img{
  object-fit: cover;
  width: 100%;
  height: 500px;
  border-radius: 10px;
  margin-bottom: 20px;
}


.btn-artikel{
    background-color: #24CAE5 !important;
    color: #fff !important;
}

.btn-artikel .selengkapnya{
    align-items: center !important;
}

.mt-70{
  margin-top: 60px !important;
}

.team{
  margin-top: 90px;
  margin-bottom: 90px;
}
.team .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  transition: 0.5s;
  height: 100%;
}

.team .member .pic img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.team .member .pic img {
  transition: ease-in-out 0.3s;
}

.team .member:hover {
  transform: translateY(-10px);
}

.team .member .member-info {
  margin-top: 30px;
  padding-left: 30px;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #37517e;
}

.team .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.team .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #cbd6e9;
  bottom: 0;
  left: 0;
}

.team .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.team .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.team .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #eff2f8;
  text-decoration: none !important;
}

.team .member .social a i {
  color: #37517e;
  font-size: 16px;
  margin: 0 2px;
}

.team .member .social a:hover {
  background: #47b2e4;
}

.team .member .social a:hover i {
  color: #fff;
}

.team .member .social a+a {
  margin-left: 8px;
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: #ffffff !important;
}

.third-text{
  color: #182231;
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.footer {
    font-size: 14px;
    background-color: #182231;
    padding: 50px 0;
    color: white;
  }
  
  .footer .footer-info .logo {
    line-height: 0;
    margin-bottom: 25px;
    text-decoration: none !important;
  }

  .footer .footer-info .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .footer .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'Poppins', sans-serif !important;
  }
  
  .footer .footer-info p {
    margin-top: 40px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif !important;
    text-align: justify;
  }
  
  .footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    transition: 0.3s;
    text-decoration: none !important;
  }
  
  .footer .social-links a:hover {
    color: #fff;
    border-color: #fff;
  }
  
  .footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .footer-links {
    margin-bottom: 20px;
  }
  
  .footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-links ul i {
    padding-right: 2px;
    color: rgba(13, 66, 255, 0.8);
    font-size: 12px;
    line-height: 0;
  }
  
  .footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-links ul a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    text-decoration: none !important;
  }
  
  .footer .footer-links ul a:hover {
    color: #fff;
  }
  
  .footer .footer-contact p {
    line-height: 26px;
  }
  
  .footer .copyright {
    text-align: center;
  }



@media only screen and (max-width: 992px) {
    .col-img img{
        width: 0%;
    }
    .row{
        margin-top: -80px;
    }
    .card{
        margin-bottom: 20px;
    }

    .artikel{
      margin-bottom: 40px;
    }

    .footer .container{
      padding-top: 50px;
      
    }

    .card-img img{
      height: 50%;
    }

}


@media only screen and (min-width: 992px) {
  
    .footer-info p{
      padding-right: 150px;
    }
    .col-img{
        order: 1;
    }
    .col-img img{
        padding-top: 20px;
    }

}




