.hero{
  min-height: 100vh;
  background-color: #182231;
}

.container_hero{
  padding-top: 200px;
}


.title{
    color: #fff;
    font-weight: bold;
    font-size: 36px !important;
}

.desc{
  color: #fff;
  margin-top: 30px;
}

.heroBtn{
  margin-top: 30px;
}

.kenali{
  min-height: 75vh;
  background-color: #D4D4D4 ;
}

.card_kenali{
  border-radius: 10px !important;
}

.artikel{
  min-height: 100vh;
}

@media only screen and (max-width: 992px) {
  .artikel{
    margin-bottom: 40px;
  }

}